.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    height: 350px;
    background: white;
    padding: .7em;
    border-radius: 6px;
    text-align: center;
}

.book-card__image {
    background-color: rgb(236, 236, 236);
    height: 170px;
    border-radius: 6px;
    margin-bottom: 10px;
    object-fit: cover;
}

.book-card__author {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(6, 10, 16);
    padding: 10px 7px 0;
}

.book-card__title {
    font-weight: 600;
    color: rgb(2, 1, 1);
    padding: 7px;
    font-size: 16px;
}

.book-card__description {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
}

